@model CreateSchoolDto

@{
    ViewData["Title"] = "Add School";
}

<h1 style="margin: auto; text-align: center">Sign In</h1>
<form class="row g-3" style="width: 400px; margin: auto" asp-controller="School" asp-action="CreateSchool" method="post">
    <div>
        <input name="Photo" class="form-control" asp-for="Photo" type="file" />
        <span class="text-danger" asp-validation-for="Photo"></span>
    </div>
    <div>
        <input name="Name" class="form-control" asp-for="Name" type="text" placeholder="Name" />
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
    <div>
        <input name="Description" class="form-control" asp-for="Description" type="text" placeholder="Description" />
        <span class="text-danger" asp-validation-for="Description"></span>
    </div>
    <button class="form-control" type="submit">Add</button>
</form>