@model List<Classroom.Data.Entities.School>

<h1>Schools </h1>
<a asp-controller="School" asp-action="CreateSchool"><button class="btn btn-primary" type="button">Create School</button></a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Users</th>
        </tr>
    </thead>
    <tbody>
        @for (var i = 0; i < Model.Count; i++)
        {
            var school = Model[i];

            <tr>
                <th scope="row">@(i + 1)</th>
                <td>@school.Name</td>
                <td>@school.Description</td>
                <td>@school.UserSchools?.Count</td>
            </tr>
        }
    </tbody>
</table>