@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
   

</div>
<div>
    <img class="sentr" width="500px" src="/Photo/789.jpg" />
    </br>
    </br>
</div>
