@model SigninUserDto

@{
    ViewData["Title"] = "Sign In";
}

<h1 style="margin: auto; text-align: center">Sign In</h1>
<form class="row g-3" style="width: 400px; margin: auto" asp-controller="Users" asp-action="SignIn" method="post">
    <div>
        <input name="Username" class="form-control" asp-for="UserName" type="text" placeholder="Username" />
        <span class="text-danger" asp-validation-for="UserName"></span>
    </div>
    <div>
        <input name="Password" class="form-control" asp-for="Password" type="text" placeholder="Password" />
        <span class="text-danger" asp-validation-for="Password"></span>
    </div>
    <button class="form-control" type="submit">Sign In</button>
    <a class="link-info" asp-controller="Users" asp-action="SignUp">Sign Up</a>
</form>